.card-spotlight {
  position: relative;
  border-radius: 1.5rem;
  border: 1px solid rgba(254, 241, 178, 0.25);
  background: #ffffff7b;

  padding: 2rem;
  overflow: hidden;

  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(254, 241, 178, 0.18);
}

.card-spotlight::before {
  content: "";
  position: absolute;
  inset: 0;

  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    var(--spotlight-color),
    transparent 80%
  );

  opacity: 0;
  transition: opacity 0.5s ease;

  pointer-events: none;
}

.card-spotlight:hover::before {
  opacity: 0.6;
}